<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceApp"
        tools:targetApi="31">
        <activity
            android:name=".SendFeedback"
            android:exported="false" />
        <activity
            android:name=".PhysicsWorkAssignmentAdded"
            android:exported="false" />
        <activity
            android:name=".PhysicsWorkAssignment"
            android:exported="false" />
        <activity
            android:name=".WebTechnologyAssignmentAdded"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".UpgradeToPremium"
            android:exported="false" />
        <activity
            android:name=".CheckAttendanceReport"
            android:exported="false" />
        <activity
            android:name=".AddWorkAssignment"
            android:exported="false" />
        <activity
            android:name=".AddTimeTable"
            android:exported="false" />
        <activity
            android:name=".WorkAssignment"
            android:exported="false" />
        <activity
            android:name=".MenuBar"
            android:exported="false" />
        <activity
            android:name=".WebTechnologyAdded"
            android:exported="false" />
        <activity
            android:name=".AddSubject"
            android:exported="false" />
        <activity
            android:name=".AssignmentHistory"
            android:exported="false" />
        <activity
            android:name=".PhysicsTimeTableAdded"
            android:exported="false" />
        <activity
            android:name=".TimeTable"
            android:exported="false" />
        <activity
            android:name=".April2024"
            android:exported="false" />
        <activity
            android:name=".April2"
            android:exported="false" />
        <activity
            android:name=".April1"
            android:exported="false" />
        <activity
            android:name=".Hii"
            android:exported="false" />
        <activity
            android:name=".ChemistryOption"
            android:exported="false" />
        <activity
            android:name=".ChemistryCancel"
            android:exported="false" />
        <activity
            android:name=".ChemistryPresent"
            android:exported="false" />
        <activity
            android:name=".ChemistryAbsent"
            android:exported="false" />
        <activity
            android:name=".AppHomeScreen"
            android:exported="false" />
        <activity
            android:name=".LoadingPage"
            android:exported="false" />
        <activity
            android:name=".SignUp_Page"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>